<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311650749307-a5pbqtru429rj7hpmtoakt8tvndchghd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311650749307-a5pbqtru429rj7hpmtoakt8tvndchghd</string>
	<key>API_KEY</key>
	<string>AIzaSyDThgskJ2Mbg8KRPFZJg4v7yLS9a9zHsa0</string>
	<key>GCM_SENDER_ID</key>
	<string>311650749307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>faridJemmy022.Atendee</string>
	<key>PROJECT_ID</key>
	<string>attendee-a3bc8</string>
	<key>STORAGE_BUCKET</key>
	<string>attendee-a3bc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311650749307:ios:59d5cbd764244c074ccbde</string>
	<key>DATABASE_URL</key>
	<string>https://attendee-a3bc8-default-rtdb.firebaseio.com</string>
</dict>
</plist>